<!-- Début sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
    <div id="sidebar-menu" class="sidebar-menu">
      <ul>
        <li class="menu-title">
          <span>Menu principal</span>
        </li>
        <li class="submenu active">
          <a href="#"><i class="fas fa-tachometer-alt"></i> <span> Tableau de bord</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="{% url 'admin_dashboard' %}" class="{% if request.path == '/admin_dashboard/' %}active{% endif %}">Administrateur</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fas fa-user-graduate"></i> <span> Élèves</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="{% url 'liste_eleves' %}" class="{% if request.path == '/liste_eleves/' %}active{% endif %}">Liste des Élèves</a></li>
            <li><a href="{% url 'ajouter_un_eleve' %}" class="{% if request.path == '/ajouter_un_eleve/' %}active{% endif %}">Ajouter un Élève</a></li>
            <li><a href="#" class="{% if request.path == '/modifier_eleve/' %}active{% endif %}">Modifier un Élève</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fas fa-chalkboard-teacher"></i> <span> Enseignants</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="{% url 'liste_des_enseignants' %}" class="{% if request.path == '/liste_des_enseignants/' %}active{% endif %}">Liste des Enseignants</a></li>
            <li><a href="{% url 'ajouter_un_enseignant' %}" class="{% if request.path == '/ajouter_un_enseignant/' %}active{% endif %}">Ajouter un Enseignant</a></li>
            <li><a href="#" class="{% if request.path == '/modifier_enseignant/' %}active{% endif %}">Modifier un Enseignant</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fas fa-book-reader"></i> <span> Matières</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="#" class="{% if request.path == '/liste_matieres/' %}active{% endif %}">Liste des Matières</a></li>
            <li><a href="#" class="{% if request.path == '/ajouter_matiere/' %}active{% endif %}">Ajouter une Matière</a></li>
            <li><a href="#" class="{% if request.path == '/modifier_matiere/' %}active{% endif %}">Modifier une Matière</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fas fa-building"></i> <span> Classes</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="#" class="{% if request.path == '/liste_classes/' %}active{% endif %}">Liste des Classes</a></li>
            <li><a href="#" class="{% if request.path == '/ajouter_classe/' %}active{% endif %}">Ajouter une Classe</a></li>
            <li><a href="#" class="{% if request.path == '/modifier_classe/' %}active{% endif %}">Modifier une Classe</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fas fa-calendar-alt"></i> <span> Cours</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="#" class="{% if request.path == '/liste_cours/' %}active{% endif %}">Liste des Cours</a></li>
            <li><a href="#" class="{% if request.path == '/ajouter_cours/' %}active{% endif %}">Ajouter un Cours</a></li>
          </ul>
        </li>
        <li class="submenu">
          <a href="#"><i class="fas fa-cogs"></i> <span> Paramètres</span> <span class="menu-arrow"></span></a>
          <ul>
            <li><a href="#" class="{% if request.path == '/gestion_utilisateurs/' %}active{% endif %}">Gestion des Utilisateurs</a></li>
            <li><a href="#" class="{% if request.path == '/gestion_roles/' %}active{% endif %}">Gestion des Rôles</a></li>
          </ul>
        </li>
        <!-- Déconnexion -->
        <li>
          <a href="{% url 'deconnexion' %}"><i class="fas fa-sign-out-alt"></i> <span>Déconnexion</span></a>
        </li>
      </ul>
    </div>
  </div>
</div>