

{% extends "preschool/html-template/adminBase.html" %}
{% load static %}

{% block titre %} Titre de etudiant dashboard {% endblock %}

{% block contenu %}

<div class="page-wrapper">
			<div class="content container-fluid">

				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title">Ajouter une matière</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="subjects.html">Matière</a></li>
								<li class="breadcrumb-item active">Ajouter une matière</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="card">
							<div class="card-body">
								<form method="POST" action="">
									{% csrf_token %}
									<div class="row">
										<div class="col-12">
											<h5 class="form-title"><span>Informations de la matière</span></h5>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group">
												<label>ID Matière</label>
												<input type="text" name="id_matiere" class="form-control">
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group">
												<label>Nom de la matière</label>
												<input type="text" name="nom" class="form-control">
											</div>
										</div>
										<div class="col-12 col-sm-6">
											<div class="form-group">
												<label>Classe</label>
												<input type="text" name="classe" class="form-control">
											</div>
										</div>
										<div class="col-12">
											<button type="submit" class="btn btn-primary">Soumettre</button>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

	<script src="{% static 'assets/js/popper.min.js' %}"></script>
	<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

	<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

	<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>

	<script src="{% static 'assets/js/script.js' %}"></script>


{% endblock %}