{% extends "preschool/html-template/adminBase.html" %}
{% load static %}

{% block titre %} Tableau de bord de l'étudiant {% endblock %}

{% block contenu %}

<div class="page-wrapper"> 
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Ajouter un Élève</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="">Élèves</a></li>
                        <li class="breadcrumb-item active">Ajouter un Élève</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Informations de l'Élève</span></h5>
                                </div>
                                <!-- Prénom -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="prenom">Prénom</label>
                                        {{ form.prenom }}
                                    </div>
                                </div>
                                <!-- Nom -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="nom">Nom</label>
                                        {{ form.nom }}
                                    </div>
                                </div>
                                <!-- Matricule -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="matricule">Matricule</label>
                                        {{ form.matricule }}
                                    </div>
                                </div>
                                <!-- Genre -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="genre">Genre</label>
                                        {{ form.genre }}
                                    </div>
                                </div>
                                <!-- Date de Naissance -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="date_naissance">Date de Naissance</label>
                                        {{ form.date_naissance }}
                                    </div>
                                </div>
                                <!-- Classe -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="classe">Classe</label>
                                        {{ form.classe }}
                                    </div>
                                </div>
                                <!-- Religion -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="religion">Religion</label>
                                        {{ form.religion }}
                                    </div>
                                </div>
                                <!-- Numéro de Téléphone -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="telephone">Numéro de Téléphone</label>
                                        {{ form.numero_telephone }}
                                    </div>
                                </div>
                                <!-- Numéro d'Admission -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="admission">Numéro d'Admission</label>
                                        {{ form.numero_admission }}
                                    </div>
                                </div>
                                <!-- Section -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="section">Section</label>
                                        {{ form.section }}
                                    </div>
                                </div>
                                <!-- Photo -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="photo">Photo de l'Élève</label>
                                        {{ form.photo }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <h5 class="form-title"><span>Informations des Parents</span></h5>
                                </div>
                                <!-- Nom du Père -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="nom_pere">Nom du Père</label>
                                        {{ form.nom_pere }}
                                    </div>
                                </div>
                                <!-- Profession du Père -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="profession_pere">Profession du Père</label>
                                        {{ form.profession_pere }}
                                    </div>
                                </div>
                                <!-- Téléphone du Père -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="telephone_pere">Téléphone du Père</label>
                                        {{ form.telephone_pere }}
                                    </div>
                                </div>
                                <!-- Email du Père -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="email_pere">Email du Père</label>
                                        {{ form.email_pere }}
                                    </div>
                                </div>
                                <!-- Nom de la Mère -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="nom_mere">Nom de la Mère</label>
                                        {{ form.nom_mere }}
                                    </div>
                                </div>
                                <!-- Profession de la Mère -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="profession_mere">Profession de la Mère</label>
                                        {{ form.profession_mere }}
                                    </div>
                                </div>
                                <!-- Téléphone de la Mère -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="telephone_mere">Téléphone de la Mère</label>
                                        {{ form.telephone_mere }}
                                    </div>
                                </div>
                                <!-- Email de la Mère -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="email_mere">Email de la Mère</label>
                                        {{ form.email_mere }}
                                    </div>
                                </div>
                                <!-- Adresse Actuelle -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="adresse_actuelle">Adresse Actuelle</label>
                                        {{ form.adresse_actuelle }}
                                    </div>
                                </div>
                                <!-- Adresse Permanente -->
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label for="adresse_permanente">Adresse Permanente</label>
                                        {{ form.adresse_permanente }}
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Soumettre</button>
                                    <button class="btn btn-primary" id="tester">Tester l'ajout</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>
{% endblock %}
