<!DOCTYPE html>
<html lang="en">
	<head>
		{% load static %}
		<meta charset="UTF-8">
		<meta name="viewport" content="width=é, initial-scale=1.0">
		<title>Accueil- School-Guinée</title>
		<link rel="stylesheet" href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}">
	</head>
	<body>
		{% include 'preschool/html-template/partials/navbar.html' %}
		<div class="container text-center text-primary mt-5">
			<h1>Bienvenue sur le site officiel de School-Guinée</h1>
			<p>L'éducation au centre de nos préoccupations pour un meilleur avenir de nos enfants en Guinée.</p>
		</div>

	</body>
</html>