{% extends 'preschool/html-template/adminBase.html' %}
{% load static %}
{% block titre %} PreSkool - Tableau de bord Élève {% endblock %}

{% block contenu %}

<div class="page-wrapper">
    {% include 'preschool/html-template/partials/header.html' %}
    {% include 'preschool/html-template/partials/stsidebar.html' %}
    <div class="content container-fluid">
        <div class="page-header">
            <div class="row">
                <div class="col-sm-12">
                    <h3 class="page-title">Bienvenue {{ user.username }}</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item active"> Tableau de bord Élève</li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Statistiques rapides -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-nine w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-book-open"></i>
                            </div>
                            <div class="db-info">
                                <h3>{{ total_cours }}</h3>
                                <h6>Tous les cours</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-six w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-clipboard-list"></i>
                            </div>
                            <div class="db-info">
                                <h3>{{ total_notes }}</h3>
                                <h6>Notes récentes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-ten w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-user-times"></i>
                            </div>
                            <div class="db-info">
                                <h3>{{ total_absences }}</h3>
                                <h6>Absences récentes</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12 d-flex">
                <div class="card bg-eleven w-100">
                    <div class="card-body">
                        <div class="db-widgets d-flex justify-content-between align-items-center">
                            <div class="db-icon">
                                <i class="fas fa-envelope"></i>
                            </div>
                            <div class="db-info">
                                <h3>{{ messages_non_lus }}</h3>
                                <h6>Messages non lus</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Prochains cours -->
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-8">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title">Prochains cours</h5>
                    </div>
                    <div class="card-body">
                        {% if prochains_cours %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nom du cours</th>
                                        <th>Enseignant</th>
                                        <th>Date et heure</th>
                                        <th>Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for cours in prochains_cours %}
                                        <tr>
                                            <td>{{ cours.nom }}</td>
                                            <td>{{ cours.enseignant.nom }}</td>
                                            <td>{{ cours.date_debut|date:"d M Y H:i" }}</td>
                                            <td>{{ cours.description|default:"Aucune description" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Aucun cours à venir.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Dernières notes -->
        <div class="row">
            <div class="col-12 col-lg-12 col-xl-8">
                <div class="card flex-fill">
                    <div class="card-header">
                        <h5 class="card-title">Dernières notes</h5>
                    </div>
                    <div class="card-body">
                        {% if dernieres_notes %}
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Matière</th>
                                        <th>Note</th>
                                        <th>Date</th>
                                        <th>Commentaire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for note in dernieres_notes %}
                                        <tr>
                                            <td>{{ note.matiere.nom }}</td>
                                            <td>{{ note.note }}</td>
                                            <td>{{ note.date_saisie|date:"d M Y" }}</td>
                                            <td>{{ note.commentaire|default:"Aucun commentaire" }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        {% else %}
                            <p>Aucune note récente.</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}

