
{% extends "preschool/html-template/adminBase.html" %}
{% load static %}

{% block titre %} Titre de etudiant dashboard {% endblock %}

{% block contenu %}




		<div class="page-wrapper">
			<div class="content container-fluid">

				<div class="page-header">
					<div class="row align-items-center">
						<div class="col">
							<h3 class="page-title">Enseignants</h3>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="index.html">Tableau de bord</a></li>
								<li class="breadcrumb-item active">Enseignants</li>
							</ul>
						</div>
						<div class="col-auto text-right float-right ml-auto">
							<a href="#" class="btn btn-outline-primary mr-2"><i class="fas fa-download"></i>Télécharger</a>
							<a href="add-teacher.html" class="btn btn-primary"><i class="fas fa-plus"></i></a>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="card card-table">
							<div class="card-body">
								<div class="table-responsive">
									<table class="table table-hover table-center mb-0 datatable">
										<thead>
											<tr>
												<th>ID</th>
												<th>Nom</th>
												<th>Classe</th>
												<th>Genre</th>
												<th>Matière</th>
												<th>Section</th>
												<th>Numéro de Mobile</th>
												<th>Adresse</th>
												<th class="text-right">Action</th>
											</tr>
										</thead>
										<tbody>
											<h1>Bienvenue sur la table</h1>
											{% for en in enseignants %}
											<tr>en.nom</tr>
											{% endfor %}
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<footer>
				<p>Copyright © 2020 Dreamguys.</p>
			</footer>

		</div>

	</div>


   <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

   <script src="{% static 'assets/js/popper.min.js' %}"></script>
   <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

   <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

   <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>

   <script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
